.header {
  margin-bottom: 20px;

  &__checkbox {
    display: none;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 18px;
  }

  &__menu {
    padding-top: 12px;
  }

  &__list {
    display: flex;
    flex-direction: row;
  }

  &__item {
    margin-left: 29px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    @include font($baseFF, bold, normal);
    font-size: 16px;
    color: $mainColor;
    line-height: 1.188;

    &:hover, &:focus, &:active {
      opacity: 0.75;
    }
  }
}


@media screen and (max-width: 768px) {
  .header {
    &__menu {
      flex-basis: 100%;
    }

    &__list {
      width: 100%;
      display: none;
      text-align: center;
    }

    &__item {
      width: 100%;
      display: block;
      margin: 0;
    }

    &__link {
      display: block;
      padding: 8px;
    }

    &__menu-button {
      text-align: right;
      @include font($baseFF, bold, normal);
      font-size: 16px;
      color: $mainColor;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      display: block;
      cursor: pointer;

      &::after {
        content: attr(data-open);
      }
    }

    &__checkbox:checked ~ .header__menu .header__list {
      display: block;
    }

    &__checkbox:checked + .header__menu-button {
      &::after {
        content: attr(data-close);
      }
    }
  }
}


